:root{
  --transition-delay : 0.2s;
}


.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  transition: width var(--transition-delay);
}

.sidebar-link{  
  height: 74px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: flex-direction var(--transition-delay);
  transition: justify-content var(--transition-delay);
  transition: align-items var(--transition-delay);
}
.sidebar-link:hover{
  background-color: rgb(235,235,235);

}

.sidebar-link img{
  height: 24px;
  margin-bottom: 5px;
  transition: padding var(--transition-delay);
  transition: margin var(--transition-delay);
}

.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 10px;
  width: 72px;
  text-align: center;
  transition: font-size var(--transition-delay);
  transition: width var(--transition-delay);
}

@media (min-width: 1370px){
  .sidebar{
    width: 228px;    
  }
  .sidebar-link{
    flex-direction: row;
    justify-content: left;
  }
  .sidebar-link img{  
    padding-left: 24px;
    padding-right: 24px;  
    margin-bottom: 0px;
  }
  .sidebar-link div{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 180px;
    font-size: 14px;
  }
}
